body {
  background: #339900;
}

.card {
  width: 110px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: #fff;
}
.top {
  text-align: left;
}
.bottom {
  text-align: right;
}
.rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
